.app {
  padding: 0 40px;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__title {
  padding-bottom: 36px;
}

.app__content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.app__button {
  padding: 32px;
  background-color: var(--color-primary);
  border-radius: 4px;
  border-color: transparent;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  margin-top: 24px;
}

.app__button:hover {
  background-color: var(--color-primary-active);
  box-shadow: 0 0 4px 4px var(--color-primary-light);
}

span {
  font-size: 24px;
  color: white;
}

p {
  color: white;
}

a {
  font-size: 24px;
  padding: 12px 0;
  color: var(--color-primary-light);
}

a:hover {
  opacity: 0.5;
}